{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog Form</title>
    <link rel="stylesheet" href="{% static 'css/Blog/add_blog.css' %}">
</head>
<body>
    <main>
        <h1>Add New Blog</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="{{ form.title.id_for_label }}">Blog Title</label>
                {{ form.title }}
            </div>
            <div>
                <label for="{{ form.image.id_for_label }}">Blog Image</label>
                {{ form.image }}
            </div>
            <div>
                <label for="{{ form.category.id_for_label }}">Select Category</label>
                {{ form.category }}
            </div>
            <div>
                <label for="{{ form.content.id_for_label }}">Blog Content</label>
                {{ form.content }}
            </div>
            <button type="submit">Add Blog</button>
        </form>
        <a href="{% url 'view_profile' %}">Cancel</a>
    </main>
</body>
</html>